@page "/"
<DismissableAlert @ref="alert" @bind-Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is soo cool!</strong>
</DismissableAlert>

<Timer TimeInSeconds="1" Tick="@(() => alert.Dismiss())" />



<button @onclick="@ToggleAlert">Toggle</button>


<br/>

<GrandMother>
    <GrandChild />
        <DismissableAlert Show="true">
            <GrandChild />
        </DismissableAlert>
</GrandMother>

@code {

    private DismissableAlert alert;

    public bool ShowAlert { get; set; } = true;

    public void ToggleAlert()
    {
        Console.WriteLine("+++");
        ShowAlert = !ShowAlert;
    }
}