@page "/"

<Alert Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong> Blazor is so cool!</strong>
</Alert>

<button @onclick="@ToggleAlert"> Toggle </button>

@code{
    public bool ShowAlert { get; set; } = true;

    public void ToggleAlert() => ShowAlert = !ShowAlert;
}